alembic==1.5.6
appdirs==1.4.4
astroid==2.4.2
attrs==20.3.0
backcall==0.2.0
bcrypt==3.2.0
Brotli==1.0.9
certifi==2020.6.20
cffi==1.14.5
chardet==3.0.4
chart-studio==1.1.0
click 
colorama==0.4.4
configparser==5.0.2
dash==1.20.0
dash-core-components==1.16.0
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
decorator==4.4.2
distlib==0.3.1
dnspython==2.1.0
email-validator==1.1.2
filelock==3.0.12
Flask 
Flask-Bcrypt==0.7.1
Flask-Compress==1.9.0
Flask-Dance==3.3.1
Flask-Login==0.5.0
Flask-Migrate==2.7.0
Flask-SQLAlchemy
Flask-WTF==0.14.3
future==0.18.2
heroku==0.1.4
heroku3==4.2.3
idna==2.10
imutils==0.5.4
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==5.6.4
itsdangerous 
jedi==0.17.2
Jinja2 
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
lazy-object-proxy==1.4.3
Mako==1.1.4
MarkupSafe 
mccabe==0.6.1
nbformat==5.1.3
numpy==1.20.1
oauthlib==3.1.0
opencv-contrib-python==4.5.1.48
opencv-python==4.5.1.48
pandas==1.2.3
parso==0.7.1
pickleshare==0.7.5
Pillow==8.1.2
pipenv==2020.11.15
plotly 
prompt-toolkit==3.0.8
pyclean==2.0.0
pycparser==2.20
Pygments==2.7.1
pylint==2.6.0
PyMySQL==1.0.2
pypiwin32==223
pyrsistent==0.17.3
python-dateutil==2.8.1
python-dotenv==0.16.0
python-editor==1.0.4
pytz==2021.1
pywin32==228
pyzmq==19.0.2
qrcode==6.1
requests==2.24.0
requests-oauthlib==1.3.0
retrying==1.3.3
scikit-learn==0.24.1
scipy==1.6.1
six==1.15.0
SQLAlchemy 
threadpoolctl==2.1.0
toml==0.10.1
tornado==6.0.4
traitlets==5.0.4
urllib3==1.25.10
URLObject==2.4.3
virtualenv==20.4.3
virtualenv-clone==0.5.4
wcwidth==0.2.5
Werkzeug
wincertstore==0.2
wrapt==1.12.1
WTForms 
