{% extends 'base.html' %}
{% block content %}

<div class="content" style="border: none;">
	<div class="music-container" id="music-container">
		<div class="invisible" style="visibility: hidden;">
			<p class="temp">{{temp}}</p>
		</div>
		<audio id="audio" src=""></audio>
		<div class="music-img-container">
			<img id="music-cover" src="" alt="music cover image">
		</div>
		<div class="music-info">
			<h4 id="title"></h4>

		</div>
		<div class="progress-container" id='progress-container'>
			<div id="progress" class="progress"></div>
		</div>
		<div class="navigation">
			<button id="prev" class="action-btn"> <i class="fas fa-backward"></i> </button>
			<button id="play" class="action-btn"> <i class="fas fa-play"></i> </button>
			<button id="next" class="action-btn"> <i class="fas fa-forward"></i> </button>
		</div>
	</div>
	<script src="/static/music.js"></script>
</div>
<script src="/static/script.js"></script>
{%endblock %}

{%block navbar%}
<a class='nav-link' href="{{url_for('index')}}">Weather</a>
{% endblock %}